.page-content {
    text-align: left;
    width: 100%;

    p {
        padding: 1rem 5rem;
        color: #F0EBEA;
    }

    ul {
        list-style: circle #FFF;

        li p {
            padding: 0 5rem;
        }
    }

    .inactive{
        display: none !important;
    }

    .grammar-container {
        display: flex;
        flex-direction: column;
        align-content: center;
        .production-container {
            display: flex;
            align-items: center;
            .production-rule {
                display: flex;
                align-items: center;
                margin: 1rem 5rem;


                input {
                    height: 2rem;
                    text-align: center;
                    border-radius: 5px;
                    border: none;

                    &:focus{
                        outline: 1px solid #61DAFB;
                    }
                }

                .arrow {
                    padding: 0 1rem !important;
                }


            }

            .removeButton {
                cursor: pointer;
                border-radius: 50%;
                color: #F0EBEA;
                background: #24282F;
                height: 1.875rem;
                width: 1.875rem;
                border: none;
                font-size: 1rem;
                transition: 0.2s ease-in-out;

                &:hover {
                    opacity: 0.6;
                }
            }

            .disableButton {
                display: none;
            }

            .error-sintax{
                color: #fff;
                padding: 0.5rem;
                display: block;
                border-radius:5px ;
                background-color: #ff0000;
                margin-right: 1rem;
              
            }

        }

        .addButton{
            width: 29%;
            text-align: center;
            justify-self: center;
            height: 2rem;
            margin: 1rem 5rem;
            border: none;
            border-radius: 10px;
            font-weight: 700;
            color: #F0EBEA;
            background: #61DAFB;
            cursor: pointer;
            transition: 0.2s ease-in-out;
            &:hover{
                opacity: 0.6;
            }
        }
    }


    .test-container{
        margin: 2rem 5rem;
        padding-bottom: 5rem;
        h3{
            color: #61DAFB;
            font-weight: 700;
            font-size: 1.6rem;
        }


        .table-container{
            display: flex;


            .textarea-input{
                display: flex;
                flex-direction: column;
                width: 40%;
                textarea{
                    margin-top: 1rem;
                    border: none;
                    border-radius: 5px;
                }
                span{
                    font-size: 1rem;
                }
            }


            .table{
                width: 60%;
                padding-top: 2rem;
                padding-left: 5rem;
                table{
                    width: 100%;
                    text-align: center;

                    .rejected{
                        background: rgba(#ff0000, 0.7);
                    }

                    .accepted{
                        background: rgba(#00FF00, 0.7);
                    }
                }
                table th{
                    color: #61DAFB;
                    border:2px solid #24282F;
                }

                table td{
                    color: #F0EBEA;
                    border:2px solid #24282F;
                }


            }
        }
    }
}