//Add Transition Modal
.click-node-content{
    width: 50%;
    height: 20rem;
    border: 1px solid #ccc;
    position: absolute;
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background: #fff;
    overflow: auto;
    border-radius: 20px;
    outline: none;
    padding: 20px;
    z-index: 10;
}

.click-node-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

.click-node-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Poppins', sans-serif;

    h2{
        margin-bottom: 3rem;
        color: #36A3C2;
    }

    input{
        width: 50%;
        height: 2.5rem;
        margin-top: 1.5rem;
        box-shadow: inset 0 .0625em .125em rgba(10,10,10,.05);
        padding-top: calc(.5rem - 1px);
        padding-bottom: calc(.5rem - 1px);
        padding-left: calc(.75rem - 1px);
        padding-right: calc(.75rem - 1px);
        border-radius: .375rem;
        outline: 0;
        border: 1px solid lightgray;
        &:focus{
            border: 1px solid blue;
            outline: 2px solid lightsteelblue;
        }
    }

    .checkbox-box{
        width: 80%;
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .checkbox-container{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;

            input{
                width: 40px;
                height: 40px;
                padding:0;
            }
            label{
                font-weight: 700;
                padding-top: 1rem;
                padding-left: 0.3rem;
            }
        }

    }

    .click-node-buttons{
        width: 70%;
        height: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 3rem;
        //border: 1px solid red;

        .click-node-button{
            width: 35%;
            height: 2.5rem;
            border: none;
            border-radius: 5px;
            font-size: 1.2rem;
            font-weight: bold;
            font-family:'Poppins', sans-serif;
            color: #F0EBEA;
            background: #36A3C2;
            cursor: pointer;
            transition: 0.2s ease-in-out;
            &:hover{
                opacity: 0.6;
            }
        }

        .cancel-node-button{
            width: 35%;
            height: 2.5rem;
            border: none;
            border-radius: 5px;
            font-size: 1.2rem;
            font-weight: bold;
            font-family:'Poppins', sans-serif;
            color: #F0EBEA;
            background: red;
            cursor: pointer;
            transition: 0.2s ease-in-out;
            &:hover{
                opacity: 0.6;
            }
        }
    }

}
