.page-content{
    width: 100%;
    display: flex;
    flex-direction: column;

    .none{
        display: none;
    }
    .automaton-menu{
        width: 70%;
        height: 3rem;
        margin: 3rem auto 1rem auto;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .menu-button{
            width: 100%;
            height: 3rem;
            margin: 0 2rem;
            border: none;
            border-radius: 10px;
            font-size: 1rem;
            font-weight: bold;
            font-family:'Poppins', sans-serif;
            color: #F0EBEA;
            background: #36A3C2;
            cursor: pointer;
            transition: 0.2s ease-in-out;
            &:hover{
                opacity: 0.6;
            }
        }

    }

    .automaton-box{
        width: 60%;
        height: 30rem;
        margin: 0 auto;
        background: #434854;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        div{
            width: 80%;
            height: 80%;
            text-align: center;

            svg{
                width: 100%;
                height: 100%;
            }
        }
       
    }

    .select-test{
        width: 60%;
        height: 4rem;
        margin: 3rem auto 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;

            .select{
                cursor: pointer;
                font-size: 1.5rem;
                font-weight: bold;
                text-align: center;
                font-family:'Poppins', sans-serif;
            }

            .is-active{
                transition: 0.2s ease-in-out;
                color: #61DAFB;
                border-bottom: 4px solid #61DAFB;
            }

    }

    .test-box{
        width: 60%;
        margin: 0 auto 10rem auto;
        border-radius: 10px;
        border: 1px solid lightgrey;

        .single-box{
            width: 100%;
            height: 15rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            label{
                width: 90%;
                font-size: 1.2rem;
                font-weight: 700;
                color: #61DAFB;
                padding-left: 0.5rem;
            }
    
            input{
                width: 90%;
                height: 2.5rem;
                background: #434854;
                color: #F0EBEA;
                border-radius: 10px;
                font-size: 1rem;
                font-weight: bold;
                font-style: normal;
                margin-top: 0.5rem;
                padding-left: 1.5rem;
                border: 0;
                &:focus{
                    outline: 1px solid #61DAFB;
                }

                
            }
            .rejected{
                background: rgba(#ff0000, 0.7);
            }

            .accepted{
                background: rgba(#00FF00, 0.7);
            }

            .single-buttons{
                width: 90%;
                height: 3rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-top: 2rem;
                //border: 1px solid red;

                .test-button{
                    width: 20%;
                    height: 2.5rem;
                    margin: 0 2rem;
                    border: none;
                    border-radius: 10px;
                    font-size: 1.2rem;
                    font-weight: bold;
                    font-family:'Poppins', sans-serif;
                    color: #F0EBEA;
                    background: #36A3C2;
                    cursor: pointer;
                    transition: 0.2s ease-in-out;
                    &:hover{
                        opacity: 0.6;
                    }
                }

                .step-button{
                    width: 20%;
                    height: 2.5rem;
                    margin: 0 2rem;
                    border: none;
                    border-radius: 10px;
                    font-size: 1.2rem;
                    font-weight: bold;
                    font-family:'Poppins', sans-serif;
                    color: #F0EBEA;
                    background: gray;
                    cursor: pointer;
                    transition: 0.2s ease-in-out;
                    &:hover{
                        opacity: 0.6;
                    }
                }
            }

        }

        .multi-box{
            width: 100%;
            min-height: 15rem;
            display: none;

            .mult-buttons{
                width: 90%;
                height: 3rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin: 2rem auto;
                //border: 1px solid red;

                .test-button{
                    width: 25%;
                    height: 2.5rem;
                    margin: 0 2rem;
                    border: none;
                    border-radius: 10px;
                    font-size: 1.2rem;
                    font-weight: bold;
                    font-family:'Poppins', sans-serif;
                    color: #F0EBEA;
                    background: #36A3C2;
                    cursor: pointer;
                    transition: 0.2s ease-in-out;
                    &:hover{
                        opacity: 0.6;
                    }
                }

                .add-button{
                    width: 25%;
                    height: 2.5rem;
                    margin: 0 2rem;
                    border: none;
                    border-radius: 10px;
                    font-size: 1.2rem;
                    font-weight: bold;
                    font-family:'Poppins', sans-serif;
                    color: #F0EBEA;
                    background: gray;
                    cursor: pointer;
                    transition: 0.2s ease-in-out;
                    &:hover{
                        opacity: 0.6;
                    }
                }
            }

            .mult-container{
                width: 100%;
                display: flex;
                flex-direction: row-reverse;
                justify-content: center;
                align-items: center;
                
                
                .disable-button{
                    display:none;
                }

                .fix-margin{
                    margin-left: 2rem;
                }
                label{
                    width: 90%;
                    font-size: 1.2rem;
                    font-weight: 700;
                    color: #61DAFB;
                    padding-left: 0.5rem;
                }
        
                input{
                    width: 100%;
                    height: 2.5rem;
                    background: #434854;
                    color: #F0EBEA;
                    border-radius: 10px;
                    font-size: 1rem;
                    font-weight: bold;
                    font-style: normal;
                    margin-top: 0.5rem;
                    padding-left: 1.5rem;
                    border: 0;
                    &:focus{
                        outline: 1px solid #61DAFB;
                    }
    
                    
                }
            }
        }
    }
}

//Add State Modal
.add-state-content{
    width: 40%;
    height: 20rem;
    border: 1px solid #ccc;
    position: absolute;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background: #fff;
    overflow: auto;
    border-radius: 20px;
    outline: none;
    padding: 20px;
    z-index: 10;
}

.add-state-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

.add-state-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Poppins', sans-serif;

    h2{
        color: #36A3C2;
    }
    
    p{
        margin-top: 3rem;
    }

    input{
        width: 70%;
        height: 2.5rem;
        margin-top: 1.5rem;
        box-shadow: inset 0 .0625em .125em rgba(10,10,10,.05);
        padding-top: calc(.5rem - 1px);
        padding-bottom: calc(.5rem - 1px);
        padding-left: calc(.75rem - 1px);
        padding-right: calc(.75rem - 1px);
        border-radius: .375rem;
        outline: 0;
        border: 1px solid lightgray;
        &:focus{
            border: 1px solid blue;
            outline: 2px solid lightsteelblue;
        }
    }

    .add-state-buttons{
        width: 70%;
        height: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 2rem;
        //border: 1px solid red;

        .add-state-button{
            width: 35%;
            height: 2.5rem;
            border: none;
            border-radius: 5px;
            font-size: 1.2rem;
            font-weight: bold;
            font-family:'Poppins', sans-serif;
            color: #F0EBEA;
            background: #36A3C2;
            cursor: pointer;
            transition: 0.2s ease-in-out;
            &:hover{
                opacity: 0.6;
            }
        }

        .cancel-state-button{
            width: 35%;
            height: 2.5rem;
            border: none;
            border-radius: 5px;
            font-size: 1.2rem;
            font-weight: bold;
            font-family:'Poppins', sans-serif;
            color: #F0EBEA;
            background: red;
            cursor: pointer;
            transition: 0.2s ease-in-out;
            &:hover{
                opacity: 0.6;
            }
        }
    }

}


.graph .node{
    cursor: pointer;
    user-select: none;
}


.ReactModal__Body--open {
    overflow: hidden;
}


//Modals Transition
.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 100ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}