header {
    background: #282c34;
    width: 100%;
    margin: 0 2rem;

    position: fixed;
    z-index: 10;

    .hamburguer-menu {
        cursor: pointer;
        width: 40px !important;
        display: flex;
        flex-direction: column;

        .lines-container{
            cursor: pointer;
            height: 40px;
            .line {
                z-index: 2;
                display: block;
                position: absolute;
                height: 3px;
                width: 3rem;
                background: #61DAFB;
                opacity: 1;
                -webkit-transition: .1s ease-in-out;
                -moz-transition: .1s ease-in-out;
                -o-transition: .1s ease-in-out;
                transition: .1s ease-in-out;
            }
    
            .line1 {
                top: 20px;
            }
    
            .line2 {
               top: 30px;
            }
    
            .line3 {
                top: 40px;
            }
    
    
        
        }

        &.opened {
            .line1 {
                top: 35px;
                -webkit-transform: rotate(135deg);
                -moz-transform: rotate(135deg);
                -o-transform: rotate(135deg);
                transform: rotate(135deg);
            }

            .line2 {
                display: none;
            }

            .line3 {
                top: 35px;
                -webkit-transform: rotate(-135deg);
                -moz-transform: rotate(-135deg);
                -o-transform: rotate(-135deg);
                transform: rotate(-135deg);
            }
        }

    }


    .nav-menu {
        background-color: #24282f;
        
        width: 400px;
        height: 100vh;
        display: flex;
        justify-content: center;
        position: fixed;
        top: 0;
        left: -100%;
        transition: 850ms;

        &.active {
            left: 0;
            transition: 350ms;


            body{
                opacity: 0.8;
            }
        }

        ul{
            padding-top: 5rem;
            list-style: none;
            font-weight: bold;
            line-height: 2rem;
            font-size: 20px;

            a{
                text-decoration: none;
                color:#F0EBEA;
                transition: 0.2s ease-in-out;
                &:hover{
                    opacity: 0.7;
                }
            }
        }
    }
}